<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_with url:"/users/create" do |f| %>
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name %>
          <%= f.label :name, 'メールアドレス' %>
          <%= f.email_field :email %>
          <%= f.submit "新規登録" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
