<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <%= form_with url: "/posts/#{@post.id}/update", model: @post,local: true do |f| %>
            <%= f.text_area :content, value: @post.content %>
            <%= f.fields_for :tags do |tag| %>
              <div class="check_box">
                <span>タグ</span>
                <%= collection_check_boxes(:post, :tag_ids, Tag.all, :id, :name) do |t| %>
                  <% t.label { t.check_box + t.text } %>
                <% end %>
              </div>
            <% end %>
            <%= f.submit "保存" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
